@import "tailwindcss";
@import "./Fonts/bienvenue/stylesheet.css";
@import "./Fonts/Gamechanger/stylesheet.css";

@plugin "tailwind-scrollbar";
@plugin "tailwindcss-animate";

@theme {
  --color-primary: #1e293b;
  --color-background: #050505;

  --font-bienvenue: 'Bienvenue', 'ui-sans-serif', 'system-ui', 'sans-serif';
  --font-gamechanger: 'Gamechanger', 'ui-serif', 'serif';
}

:root {
  --border-width-side: 20px;
  --border-width-bottom: 20px;
  --border-width-top: 90px;
  --border-inner-radius: 1.5rem;
  --footer-height: 40px;
  --safe-padding: 20px;
  --safe-padding-large: 40px;
}

@layer utilities
{
  /* Clean positioning classes for Nav and Footer */
  .layout-nav {
    top: 0;
    height: var(--border-width-top);
    width: 100%
  }

  .layout-footer {
    bottom: var(--border-width-bottom);
    width: 100%
  }

  /* Padding utility to clear the top border + 20px */
  .pt-safe-top {
    padding-top: calc(var(--border-width-top) + var(--safe-padding));
  }

  /* Padding utility to clear the bottom border + 20px */
  .pb-safe-bottom {
    padding-bottom: calc(var(--border-width-bottom) + var(--safe-padding));
  }

  /* Padding utility to clear the bottom border + footer + buffer */
  .pb-safe-bottom-footer {
    padding-bottom: calc(var(--border-width-bottom) + var(--footer-height) + var(--safe-padding));
  }

  /* Padding utility to clear the side borders */
  .px-safe-side {
    padding-left: calc(var(--border-width-side) + var(--safe-padding-large));
    padding-right: calc(var(--border-width-side) + var(--safe-padding-large));
  }

  /* The transparent hole that uses a massive shadow to create the white border */
  .landing-hole {
    position: fixed;
    top: var(--border-width-top);
    bottom: var(--border-width-bottom);
    left: var(--border-width-side);
    right: var(--border-width-side);
    border-radius: var(--border-inner-radius);
    box-shadow: 0 0 0 100vmax #E8E8E8;
    pointer-events: none;
    z-index: 60;
  }
}


@layer components {
  .glass-panel {
    @apply bg-white/5 border border-white/10 rounded-full backdrop-blur-md;
  }
}

/* Base styles */
/* Base styles moved from index.html */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: var(--color-background);
  font-family: var(--font-bienvenue), serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

#root {
  width: 100vw;
  height: 100vh;
}